*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:linear-gradient(135deg,#ffe4e9,#ffb6c1,#ffc0cb);
min-height:100vh;
display:flex;
justify-content:center;
background-atachment:fixed;
align-items:center;
overflow:hidden;
padding:15px;
}

.container{
text-align:center;
color:white;
width:100%;
max-width:360px;
margin:auto;
display:flex;
flex-direction:column;
align-items:center;
}

h1{
margin-bottom:15px;
font-size:22px;
text-shadow:0 0 15px pink;
}

.card{
width:100%;
max-width:300px;
height:420px;
perspective:1000px;
margin:auto;
}

.card-inner{
width:100%;
height:100%;
transition:.8s;
transform-style:preserve-3d;
}

.card-front,.card-back{
position:absolute;
width:100%;
height:100%;
border-radius:20px;
backface-visibility:hidden;
box-shadow:0 0 30px hotpink;
background:white;
padding:10px;
}

.card-front img{
width:100%;
height:300px;
object-fit:cover;
border-radius:15px;
}

.card-front p{
color:#ff1493;
margin-top:8px;
font-size:14px;
}

.card-back{
transform:rotateY(180deg);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff69b4,#ffc0cb);
padding:20px;
}

.card-back h2{
font-size:22px;
color:white;
margin-bottom:20px;
text-align:center;
}

.buttons{
width:100%;
display:flex;
flex-direction:column;
align-items:center;
}

.buttons button{
width:90%;
background:white;
border:none;
padding:12px;
border-radius:25px;
margin:8px;
font-size:18px;
color:#ff1493;
cursor:pointer;
}

#message{
margin-top:15px;
color:white;
font-size:16px;
text-align:center;
}

.hearts span{
position:absolute;
bottom:-50px;
animation:float 6s linear infinite;
color:pink;
pointer-events:none;
}

@keyframes float{
0%{transform:translateY(0)}
100%{transform:translateY(-110vh)}
}

canvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
}

/* SMALL IPHONES */
@media(max-width:380px){
.card{height:380px}
.card-front img{height:260px}
h1{font-size:20px}
}